.error {
  margin-top: 120px;
  margin-bottom: 30px;
  background-color: white;
  width: 50%;
  max-width: 1920px;
  height: 440px;

  display: flex;
  align-items: center;
  justify-content: center;
}
