.product-list {
  padding: 0 1% 30px 1%;
  width: 86%;
  max-width: 1920px;
  margin-top: 120px;
}

.pagination {
  background-color: white;
  padding: auto;

  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.list-title {
  width: 98%;
  height: 110px;
  padding: 10px 1%;
  margin-bottom: 10px;
  background-color: white;

  color: black;
  font-size: 32px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
}

.breadcrumbText {
  color: #288ad6;
  text-decoration: none;
}

.list-title-text {
  margin: auto;
  margin-left: 2%;
}

.sort-select-wrapper {
  background-color: white;
  height: 40px;
  margin-bottom: 10px;
  margin-left: auto;
  width: 200px;
}

.sort-select {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  font-size: 16px;
}

@media only screen and (max-width: 1366px) {
  .product-list {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .product-list {
    width: 100%;
  }
}
